@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,300&display=swap');

* {
    box-shadow: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(museum-of-new-zealand-te-papa-tongarewa-1emactcJ9AA-unsplash.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}

.countdown-container {
    display: flex;
    border: 3.4px solid #292121;
    display: flex;
    flex-wrap: wrap;

}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;

}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
}